body {
    /* background-image: url('./../images/google-map-background.jpg');
    background-repeat: repeat;
    background-size: contain; */
    color: #5e5e5e;
}

.login-container {
    border: 1px solid #dbdbdb;

    /* middle of screen */
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* style card */
    width: 400px;
    height: 400px;
    background-color: white;
    box-shadow: 5px 10px 8px #888888;
    text-align: center;
}

.form-title {
    margin-top: 40px;
    margin-bottom: 30px;
}

.text-field-login {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-button-content {
    margin-top: 30px;
}