html, body {
    background-color: #F0F0F0;
}

body {
    margin: 0 !important;
}

html, body, #root {
    height: 100% !important;
}

.app {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    margin-top: 75px;
}

.empty-content {
    width: 800px;
    text-align: center;
    color: #5e5e5e;
}

.empty-frags {
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 230px;
}

.places-content {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    background-color: #F0F0F0;
    color: #5e5e5e;
}

.place-card {
    border: 1px solid #dbdbdb;
    background-color: white;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 3px;
    width: 380px;
    margin: 9px;
}

.label {
    margin: 10px;
    white-space: nowrap;
    width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.place-vicinity {
    max-width: 350px;
    margin: 10px;
}

/* LOADING */

.vertical-centered-box {
    background: rgba(27,63,123,.8);
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 99999;
  }
  .vertical-centered-box:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  .vertical-centered-box .load-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 0;
  }
  .vertical-centered-box * {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);
    margin-left: -60px;
    margin-top: -60px;
  }
  .loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    -webkit-transform-origin: 60px 60px;
    -moz-transform-origin: 60px 60px;
    -ms-transform-origin: 60px 60px;
    -o-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    -webkit-animation: rotate 1.2s infinite linear;
    -moz-animation: rotate 1.2s infinite linear;
    -o-animation: rotate 1.2s infinite linear;
    animation: rotate 1.2s infinite linear;
  }
  .loader-line-mask .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
  }
  lesshat-selector {
    -lh-property: 0; } 
  @-webkit-keyframes rotate{ 0% { -webkit-transform: rotate(0deg);} 100% { -webkit-transform: rotate(360deg);}}
  @-moz-keyframes rotate{ 0% { -moz-transform: rotate(0deg);} 100% { -moz-transform: rotate(360deg);}}
  @-o-keyframes rotate{ 0% { -o-transform: rotate(0deg);} 100% { -o-transform: rotate(360deg);}}
  @keyframes rotate{ 0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}}
  [not-existing] {
    zoom: 1;
  }
  lesshat-selector {
    -lh-property: 0; } 
  @-webkit-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
  @-moz-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
  @-o-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
  @keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
  [not-existing] {
    zoom: 1;
  }
  lesshat-selector {
    -lh-property: 0; } 
  @-webkit-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
  @-moz-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
  @-o-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
  @keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
  [not-existing] {
    zoom: 1;
  }

/* END STYLE LOADING */


/* LOGIN STYLE */

.login-template {
    height: 100% !important;
    background-image: url('./../images/google-map-background.jpg');
    background-repeat: repeat;
    background-size: contain;
    color: #5e5e5e;
}

.login-container {
    border: 1px solid #dbdbdb;

    /* middle of screen */
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* style card */
    width: 400px;
    height: 370px;
    background-color: white;
    box-shadow: 5px 10px 8px #888888;
    text-align: center;
}

.form-title {
    margin-top: 40px;
    margin-bottom: 30px;
}

.text-field-login {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-button-content {
    margin-top: 20px;
}

.signup-button-content {
  margin-top: 40px;
}

/* SIGNUP STYLE */

.signup-container {
  border: 1px solid #dbdbdb;

    /* middle of screen */
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* style card */
    width: 400px;
    height: 430px;
    background-color: white;
    box-shadow: 5px 10px 8px #888888;
    text-align: center;
}

a {
  text-decoration: none !important;
}

svg {
  fill: white !important;
}

.profile-template {
  height: 100% !important;
  background-color: #F0F0F0;
  color: #5e5e5e;
}

.like-icon {
  max-width: 15px;
  float: right;
  margin-right: 5px;
}

.profile-form-title {
  margin-top: 30px;
  margin-bottom: 40px;
}

.profile-update-button-content {
  margin-top: 45px;
}